.page-enter-active {
	transition: all .3s ease;
}

.page-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.page-enter,
.page-leave-to {
	transform: translateX(-100px);
	opacity: 0;
}
